<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/contact.css" />
    <title>Contact Us</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <form>
      <div class="div-form">
        <label for="firstName">First name</label>
        <input type="text" placeholder="First name" name="firstName" />
      </div>
      <div class="div-form">
        <label for="lastName">Last name</label>
        <input type="text" placeholder="Last name" name="lastName" />
      </div>
      <div class="div-form">
        <label for="Email">Email</label>
        <input type="text" placeholder="Email" name="email" />
      </div>
      <div class="div-form">
        <label for="age">Age</label>
        <input type="text" placeholder="Age" name="age" />
      </div>
      <button type="submit">Send message</button>
    </form>
    <%- include('partials/footer') %>
  </body>
  <script src="/js/contactUs.js"></script>
</html>
