<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/create-post.css" />

    <title>Create post</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <form>
      <div class="div-form">
        <label for="title">Title</label>
        <input type="text" placeholder="Title" name="title" />
      </div>
      <div class="div-form">
        <label for="content">Content</label>
        <input type="text" placeholder="Content" name="body" />
      </div>
      <button type="submit">Create post</button>
    </form>
    <%- include('partials/footer') %>
  </body>
  <script src="/js/createPost.js"></script>
</html>
