<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Homepage</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <main>
      <div>
        <h1>Learning how to use EJS</h1>
        <ul>
          <li>Learning how to use the SSR.</li>
          <li>Learning how to MVC on vanilla js.</li>
          <li>Learning how to pass functions and data.</li>
          <li>Learning how to integrate SQL queries via Node.js</li>
          <li>Sending emails via nodemailer with ejs templates.</li>
        </ul>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
