<%- include('partials/navbar') %>
<form>
  <label>First name</label>
  <input type="text" placeholder="First name" name="firstName" />
  <button type="submit">Send message</button>
</form>

<script>
  const formEl = document
    .querySelector("form")
    .addEventListener("submit", (e) => {
      e.preventDefault();
      const formData = new FormData(e.target);
      const fName = formData.get("firstName");
      console.log(fName);
    });
</script>
