@font-face {
  font-family: "Outfit";
  src: url(./fonts/Outfit-VariableFont_wght.ttf);
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --very-dark-blue-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  --reg-font-size: 18px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  min-height: 100vh;
}

body {
  color: white;
  font-weight: 100;
  font-family: "Outfit";
  font-size: var(--reg-font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--very-dark-blue-bg);
}

h1 {
  font-size: 20px;
  font-weight: var(--font-weight-regular);
  color: var(--white);
}

h1:hover {
  cursor: pointer;
  color: var(--cyan);
}

.item-describe-text {
  font-size: 15px;
}

.card-container {
  width: 280px;
  background: var(--very-dark-blue-card-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
  border-radius: 10px;
  gap: 20px;
}

.img-container {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.item-img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0%;
  transition: opacity 0.3s ease;
}

.img-container:hover .overlay {
  opacity: 0.6; /* Show the overlay on hover */
}

.overlay img {
  width: 40px;
  height: 40px;
  opacity: 1; /* Ensure the icon is fully opaque */
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--soft-blue);
}

.item-data-container {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: 15px;
}

.amount-plus-icon {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.eth-amount-text {
  color: var(--cyan);
  font-weight: var(--font-weight-semi-bold);
}

.left-time-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.time-left-text {
  color: var(--soft-blue);
}

.icon-ethereum {
  width: 10px;
}

hr {
  border: 0.5px solid var(--very-dark-blue-line);
  width: -webkit-fill-available;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: -webkit-fill-available;
  gap: 10px;
}

.img-avatar {
  width: 25px;
  border: 1px solid vaR(--white);
  border-radius: 50%;
}

.creator-name:hover {
  color: var(--cyan);
  cursor: pointer;
}