@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf);
}

:root {
  --color-tomato: hsl(4, 100%, 67%);
  --color-dark-slate-grey: hsl(234, 29%, 20%);
  --color-charcoal-grey: hsl(235, 18%, 26%);
  --color-grey: hsl(231, 7%, 60%);
  --color-white: hsl(0, 0%, 100%);

  --font-size-body: 16px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  min-height: 100vh;
}

body {
  font-size: var(--font-size-body);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

.father-container {
  overflow: hidden;
  border-radius: 10px;
  background: white;
  width:350px;
  display: flex;
  flex-direction: column;
}

.subscribe-img-desktop {
  display: none;
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: 40px;
}

.pros-icon {
  width: 20px;
  margin-right: 15px;
}

.pros-container {
  color: var(--color-dark-slate-grey);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  padding: 20px;
}

.single-pro-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}


.provide-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}

.subscribe-button,.dissmiss-button-sucess-message {
  border: none;
  padding: 15px;
  font-weight: var(--font-weight-bold);
  color: white;
  background: var(--color-dark-slate-grey);
  border-radius: 6px;
}

.email-label,.invalid-email-label {
  font-weight: var(--font-weight-bold);
  color: var(--color-dark-slate-grey);
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.invalid-email-label{
  display: none;
  color: var(--color-tomato);
}

.email-input {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  margin-bottom: 20px;
  cursor: pointer;
}

input::placeholder {
  color: var(--color-grey)
}

button:hover {
  cursor: pointer;
}

.email-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Success message area */

.icon-success-message {
  display: none;
  width: 60px;
  margin-left: 10px;
}

.thanks-for-sub-title {
  margin-top: -10px;
  display: none;
}

.confirmation-text-success-message {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 250px;
  display: none;
}

span {
  font-weight: var(--font-weight-bold);
}

.dissmiss-button-sucess-message {
  display: none;
}

.icon-success-message-mobile {
  display: none;
  width: 60px;
  margin-bottom: 20px;
}


@media screen and (min-width:1024px) {
  body {
    background: var(--color-charcoal-grey);
  }

  .father-container {
    width: 900px;
    background-color: white;
    flex-direction: row-reverse;
    padding: 20px;
    border-radius: 30px;
  }

    .subscribe-img {
      display: none;
    }

    .subscribe-img-desktop {
      display: block;
      width: auto;
    }

    .pros-container {
      justify-content: space-evenly;
      padding: 55px;
    }

    .pro-one,.pro-two,.pro-three {
      width: max-content;
    }

    .first-sentence {
      font-size: 15px;
    }

    .provide-email-container {
      margin-bottom: 10px;
    }

    .icon-success-message {
      display: none;
      margin-bottom: 30px;
      margin-left: 0px;
    }

    .dissmiss-button-sucess-message:hover,.subscribe-button:hover {
    color: var(--color-white);
    background: var(--color-tomato); 
    box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.3);

    }

    .confirmation-text-success-message {
      margin-bottom: 30px;
    }

}