@font-face {
  font-family: "Overpass";
  src: url(./static/Overpass-Regular.ttf);
}

* {
  font-family: "Overpass";
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

form {
  width: 375px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 12px;
}

.father-container {
  display: flex;
  flex-direction: column;
}

img {
  margin-top: 25px;
  margin-left: 25px;
  background-color: hsl(212, 15%, 25%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 15px;
}

h1 {
  color: white;
  margin-bottom: 15px;
  margin-left: 25px;
}

p,
.numbers-container {
  color: hsl(217, 12%, 63%);
}

p {
  padding: 2px;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.numbers-container,
.submit-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.number-one,
.number-two,
.number-three,
.number-four,
.number-five {
  background-color: hsl(212, 15%, 25%);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
  cursor: pointer;
}

.submit {
  border: none;
  background-color: hsl(25, 97%, 53%);
  width: 270px;
  padding: 10px;
  font-weight: 900;
  letter-spacing: 2px;
  border-radius: 33px;
  margin: 25px;
  cursor: pointer;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  text-shadow: none;
}

.number-one:hover,
.number-two:hover,
.number-three:hover,
.number-four:hover,
.number-five:hover {
  background-color: hsl(25, 97%, 53%);
  color: black;
}

.number-one:active,
.number-two:active,
.number-three:active,
.number-four:active,
.number-five:active {
  background-color: white;
  color: black;
  z-index: 9999;
}

.hidden {
  display: none;
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: auto;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }

  form {
    border-radius: 25px;
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    max-width: 400px;
  }

  p {
    padding: 10px;
  }

  .numbers-container {
    gap: 25px;
  }

  .submit {
    margin: 20px;
  }
}
