{% extends 'base.html' %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">My Top 10 Movies</h1>
  <p class="description">These are my all-time favourite movies.</p>
   
  <!-- Loop through the movies passed from the Flask route -->
  {% for movie in movies %}
  <div class="card" >
    <div class="front" style="background-image: url('{{ movie.img_url }}');">
        <p class="large">{{ movie.ranking }}</p>
    </div>
    <div class="back">
      <div>
        <div class="title">{{ movie.title }} <span class="release_date">({{ movie.year }})</span></div>
        <div class="rating">
            <label>{{ movie.rating }}</label>
            <i class="fas fa-star star"></i>
        </div>
        <p class="review">"{{ movie.review }}"</p>
        <p class="overview">{{ movie.description }}</p>

        <!-- Update Button -->
        <a href="{{ url_for('edit', movie_id=movie.id) }}" class="button">Update</a>

        <!-- Delete Button with POST Request -->
        <form action="{{ url_for('delete', movie_id=movie.id) }}" method="POST" style="display:inline;">
            <button type="submit" class="button delete-button">Delete</button>
        </form>

      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Button to add a new movie -->
<div class="container text-center add">
  <a href="{{ url_for('add') }}" class="button">Add Movie</a>
</div>

{% endblock %}
