@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "LexendDeca";
  src: url(./fonts/LexendDeca-VariableFont_wght.ttf);
}

:root {
  /* Colors */
  --very-dark-blue: hsl(233, 47%, 7%); 
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%); 
  --white: hsl(0, 0%, 100%); 
  --transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
  --transparent-white-stats: hsla(0, 0%, 100%, 0.6); 

  /* Typography */
  --font-size-reg: 15px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
}

body,html {
  min-height: 100vh;
}

body {
  font-size: var(--font-size-reg);
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--very-dark-blue);
}

.image-wrapper {
  position: relative;
  width: 250px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}

.mobile-img {
  display: block;
  width: -webkit-fill-available;
}

.desktop-img {
  display: none;
}

.image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--soft-violet);
  opacity: 50%;
}


.large-text {
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.small-text {
  text-align: center;
  line-height: 20px;
  color: var(--transparent-white-stats);
  font-weight: var(--font-weight-regular);
  font-size: 11px;
}

.father-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  background: var(--dark-desaturated-blue);
  color: var(--white);
  border-radius: 5px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.mark-word {
  color: var(--soft-violet);
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  text-transform: uppercase;
}

.stat-label {
  font-family: 'LexendDeca';
  color: var(--transparent-white-stats);
  font-size: 10px;
  margin-top: 5px;
  letter-spacing: 1px;
}

.stat-number {
  font-family: "Inter";
  font-weight: var(--font-weight-bold);
}

@media screen and (min-width:1024px) {
  .father-container {
    flex-direction: row-reverse;
    height: 332px;
  }

  .stats-container {
    flex-direction: row;
    gap: 35px;
    margin-top: 35px;
    margin-right: 10px;
  }

  .large-text {
    width: fit-content;
    font-size: 25px;
    text-align: start;
    margin-top: -1px;
    margin-bottom: 25px;
  }

  .small-text {
    text-align: left;
    font-size: 10px;
    width: 250px;
  }

  .mobile-img {
    display: none;
  }

  .image-wrapper {
    width: -webkit-fill-available;
    position: relative;
  }

  .desktop-img {
    display: block;
    width: 400px;
  }

  .content-wrapper {
    padding: 40px;
    margin-right: 15px;
  }

}