* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.post-container {
  padding-left: 3em;
  margin-top: 5em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

h1 {
  text-align: center;
  width: 100%;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}
