@font-face {
  font-family: "Hanken-Grotesk Reg";
  src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html,body {
  height: 100vh;
}

body {
  font-family: "Hanken-Grotesk Reg";
  font-size: 18px;
  background-color: white;
  display: flex;               
  justify-content: center;     
  align-items: center;        
}

.card {
  background: hsl(0, 0%, 95%);
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 350px;           
  width: 100%;                
  background-color: white;
}

.your-result {
  margin:5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.your-result,.seventy-six,.great {
  font-weight: 900;
}

.result-container {
  background: linear-gradient( hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0px 0px 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.circle-result {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: radial-gradient(hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0));


}

.seventy-six {
  color: white;
  font-size: 4rem;
}

.of-onehundred {
  font-size: 1.2rem;
  margin: 8px;
}

.great {
  margin-top: 20px;
  margin-bottom: -10px;
  color:white
  
}

.quote {
  padding-left: 40px;
  padding-right: 40px;
  margin: 15px;
  margin-bottom: 25px;
}

.of-onehundred,.quote,.your-result {
  color: hsl(241, 100%, 89%);
}

.summary-word {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: hsl(224, 30%, 27%);
  font-weight: 900;
  margin:20px;
  margin-bottom: 5px;
}

.summary-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 15px;
}

.visual-text,.verbal-text,.memory-text,.reaction-text {
  width:100%;
  font-size: 1rem;
  margin-left: 10px;
  display: flex;
  font-weight: 700;
}

span {
  color:  hsl(224, 30%, 27%);
  margin-right: 5px;
  font-weight: 700;
}

.reaction-stats,.memory-stats,.verbal-stats,.visual-stats{
  width:100%;
  font-size: 0.9rem;
  color: hsl(241, 100%, 89%);
  display: flex;
  justify-content: flex-end;

}

.reaction,.memory,.verbal,.visual {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  padding: 10px;
}

.reaction {
  position: relative;
  background-color: hsla(0, 100%, 67%, 0.15); 
  color: hsl(0, 100%, 67%);
  font-weight: 500;
  
}
.memory {
  position: relative;
  background-color: hsla(39, 100%, 56%, 0.15); 
  color: hsl(39, 100%, 56%);
  font-weight: 500px;
}

.verbal {
  position: relative;
  background-color: hsla(166, 100%, 37%, 0.15);
  color: hsl(166, 100%, 37%);
  font-weight: 500;
  
}

.visual {
  position: relative;
  background-color: hsla(234, 85%, 45%, 0.15);
  color: hsl(234, 85%, 45%);
  font-weight: 500;
  
}

.continue-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-top: -20px;
  margin-bottom: 10px;
}
  
button {
  font-weight: 700;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  background-color:hsl(224, 30%, 27%);
  color:white;
  border-radius: 50px;
  padding: 12px;
}

@media only screen and (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  body {
    font-family: "Hanken-Grotesk Reg";
    font-size: 18px;
    background-color: white;
    display: flex;               
    justify-content: center;     
    align-items: center;         
    margin: 0;
    padding: 0;
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;       
    align-items: start;
    justify-content: center;
    max-width: 550px;        
    width: 100%;
    border-radius: 30px;
  }

  .result-container {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
  }

  .your-result {
    margin-top: 30px;
    margin-bottom: 25px;
  }
  
  .circle-result {
    background: radial-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)); 
    height: 150px;
    width: 150px;
  }

  .seventy-six {
    font-size: 3.5rem;
    color: white; 
  }

  .of-onehundred {
    font-size: 1.0rem;
    color: hsl(241, 100%, 89%); 
  }

  .great {
    font-weight: 550;
    font-size: 1.5rem;
    color: white;
  }

  .quote {
    font-size: 1rem;
    padding: 25px;
    margin: 0px;
    margin-bottom: 10px;
    max-width: 100%;
    color: hsl(241, 100%, 89%);
  }

  .summary-word {
    transform: translateX(5px);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    color: hsl(224, 30%, 27%); 
  }

  .summary-container {
    transform: translateY(-20px);
    align-self: center;
    grid-column-start: 2;   
    grid-column-end: 2;     
    grid-row-start: 1;     
    grid-row-end: 1;
  }

  .continue-button-container {
    grid-column-start: 2;   
    grid-column-end: 2;     
    grid-row-start: 1;     
    grid-row-end: 1;
    transform: translateY(-5px);
    align-self: end;
  }

  .button-continue:hover {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(256, 72%, 46%, 1));
  }
}
