@font-face {
  font-family: "Inter";
  src: url(./fonts/static/Inter_18pt-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/static/Inter_18pt-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/static/Inter_18pt-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  min-height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 14px; 
}

.profile-container {
  background-color: hsl(0, 0%, 12%);
  padding: 1rem;
  margin: 10rem;
  border-radius: 0.7rem;
  height: auto;
  position: relative;
}

img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-container {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
  font-family: "Inter", sans-serif; 
  font-weight: 700; 
  text-align: center;
}

.location-container {
  font-size: 0.8rem;
  color: hsl(75, 94%, 57%); 
  margin-bottom: 0.3rem;
  text-align: center;
}

.quote-container {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  text-align: center;
}

.social-media-links-container {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.github-container,
.frontend-mentor-container,
.linkedin-container,
.twitter-container,
.instagram-container {
  display: flex;
  flex-direction: column;
  margin: 0.45rem;
  background-color: hsl(0, 0%, 20%); 
  padding: 0.5rem;
  border-radius: 6px;
  width: 75%;
  max-width: 100%;
}

.github,
.frontend-mentor,
.linkedin,
.twitter,
.instagram {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.github-container:hover,
.frontend-mentor-container:hover,
.linkedin-container:hover,
.twitter-container:hover,
.instagram-container:hover {
  background-color: hsl(75, 94%, 57%); 
  color: hsl(0, 0%, 100%); 
  font-weight: 700;
}

@media only screen and (max-width: 375px) {
  .profile-container {
    width: 90%;
  }

  .github-container,
  .frontend-mentor-container,
  .linkedin-container,
  .twitter-container,
  .instagram-container {
    width: 100%; 
  }
}

@media only screen and (min-width: 1440px) {
  .profile-container {
    width: 40%; 
  }
}
