@font-face {
  font-family: "PlusJakartaSans";
  src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
  /* Primary Colors */
  --color-lime: hsl(61, 70%, 52%);
  --color-red: hsl(4, 69%, 50%);

  /* Neutral Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-slate-100: hsl(202, 86%, 94%);
  --color-slate-300: hsl(203, 41%, 72%);
  --color-slate-500: hsl(200, 26%, 54%);
  --color-slate-700: hsl(200, 24%, 40%);
  --color-slate-900: hsl(202, 55%, 16%);

  --font-weight-regular: 500;
  --font-weight-bold: 700;
  --font-size-paragraph: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body,html {
  min-height: 100vh;
}

body {
  font-family: "PlusJakartaSans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.complete-result-container {
  display: none;
}

.user-selection-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  gap: 20px;
}

form {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  width: 280px;
  position: static;
  margin-bottom: 270px;
}

label {
  font-size: 12px;
  color: var(--color-slate-500);
}

.amount-container,.term-container,.interest-rate-container,.mortgage-type-container,.query-type-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.query-type-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: stretch;
}

.radio-btn-label {
  border: 1px solid var(--color-slate-900);
  padding: 8px;
  border-radius: 4px;
  font-weight: 900;
  height: 20px;
  color: var(--color-slate-900);
}

.repayment-only-radio,.interest-only-radio {
  margin-right: 10px;
}

.clear-all-btn {
  background: none;
  border: none;
  color: var(--color-slate-500);
  font-weight: var(--font-weight-regular);
  text-decoration: underline;
  text-align: start;
}

h3 {
  color: var(--color-slate-900);
  font-weight: var(--font-weight-bold);
  margin-bottom: -5px;
}

input {
  border-radius: 4px;
  border: 1px solid var(--color-slate-700);
  cursor: pointer;
  padding-left: 10px;
}

.mortgage-input {
  height: 35px;
}

.illustration-empty {
  background: var(--color-slate-900);
  width: 150px;
}

.icon-calculator {
  width: 20px;
}

.calculator-payments-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--color-lime);
  border-radius: 30px;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  font-weight: var(--font-weight-bold);
  color: var(--color-slate-900);
}

.results-shown-here-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-slate-900);
  gap: 20px;
  padding: 20px;
  position: absolute;
  bottom: 0;
}

.results-shown-here-title {
  color: var(--color-white);
}

p {
  color: var(--color-slate-500);
  line-height: 23px;
  font-size: 13px;
  text-align: center;
}

#mortgage-amount {
  padding-left: 40px;
  background: linear-gradient(to right, var(--color-slate-100) 32px, white 20px);
  border: 1px solid var(--color-slate-700);
  font-weight: bold;
  color: var(--color-slate-900);
}

.currency-symbol {
  width: 11px;
  transform: translate(10px, 53px);
  color: var(--color-slate-500);
  font-weight: bold;

}