@font-face {
  font-family: "PlusJakartaSans";
  src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
  /* Primary Colors */
  --color-lime: hsl(61, 70%, 52%);
  --color-red: hsl(4, 69%, 50%);

  /* Neutral Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-slate-100: hsl(202, 86%, 94%);
  --color-slate-300: hsl(203, 41%, 72%);
  --color-slate-500: hsl(200, 26%, 54%);
  --color-slate-700: hsl(200, 24%, 40%);
  --color-slate-900: hsl(202, 55%, 16%);

  --font-weight-regular: 500;
  --font-weight-bold: 700;
  --font-size-paragraph: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body,html {
  min-height: 100vh;
}

body {
  font-family: "PlusJakartaSans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.complete-result-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-slate-900);
  position: absolute;
  bottom: 0;
  color: var(--color-lime);
  padding: 20px;
  text-align: left;
  height: 280px;
}

.complete-result-container > .your-results-plus-paragraph-container > h3 {
  color: white;
}

.your-results-plus-paragraph-container > p {
  margin-top: 20px;
  text-align: left;
  line-height: 20px;
  font-size: 12px;
  margin-bottom: 20px;
}

.second-part-your-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: hsl(202deg 59.64% 10.65%);
  gap: 10px;
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
}

.first-hr {
  width: 102%;
  color: var(--color-lime);
  border: 2px solid;
  border-radius: 50px 50px 0px 0px;
  transform: translate(-7px, -4px);
}

hr {
  width: 95%;
  border: 0.1px solid var(--color-slate-900);
}

.total-you-repay-over-the-term-container > h3 {
  color: white;
  margin-bottom: 10px;
}

.your-monthly-payments-container > p {
  font-size: 12.8px;
}

.user-selection-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  gap: 10px;
  margin-top: 10px;
}

form {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  width: 280px;
}

label {
  font-size: 12px;
  color: var(--color-slate-500);
  font-weight: 500;
}

.amount-container,.term-container,.interest-rate-container,.mortgage-type-container,.query-type-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.query-type-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: stretch;
}
.clear-all-btn {
  background: none;
  border: none;
  color: var(--color-slate-500);
  font-weight: var(--font-weight-regular);
  text-decoration: underline;
  text-align: start;
  cursor: pointer;
}

.clear-all-btn:hover {
  color: var(--color-slate-900);
}

h3 {
  color: var(--color-slate-900);
  font-weight: var(--font-weight-bold);
  margin-bottom: -5px;
}

input {
  border-radius: 4px;
  border: 1px solid var(--color-slate-700);
  cursor: pointer;
  padding-left: 10px;
  font-weight: bold;
}

.mortgage-input {
  height: 35px;
}

.illustration-empty {
  background: var(--color-slate-900);
  width: 150px;
}

.icon-calculator {
  width: 20px;
}

.calculator-payments-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--color-lime);
  border-radius: 30px;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;
}

.calculator-payments-container:hover {
  background-color: hsl(61deg 70% 52% / 60%);
}

button {
  border: none;
  background: none;
  font-weight: var(--font-weight-bold);
  color: var(--color-slate-900);
}

.results-shown-here-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-slate-900);
  gap: 20px;
  padding: 20px;
  /* display: none; */
}

.results-shown-here-title {
  color: var(--color-white);
}

p {
  color: var(--color-slate-500);
  line-height: 23px;
  font-size: 13px;
  text-align: center;
}

#mortgage-amount {
  padding-left: 40px;
  background: linear-gradient(to right, var(--color-slate-100) 32px, white 20px);
  border: 1px solid var(--color-slate-700);
  color: var(--color-slate-900);
}

.currency-symbol {
  font-weight: bold;
  color: var(--color-slate-700);
  transform: translate(10px, 52px);
  width: 1px;
}

#mortgage-term {
  padding-left: 10px;
  background: linear-gradient(to left, var(--color-slate-100) 55px, white 20px);
  border: 1px solid var(--color-slate-700);
  color: var(--color-slate-900);
}

#interest-rate {
  padding-left: 10px;
  background: linear-gradient(to left, var(--color-slate-100) 40px, white 20px);
  border: 1px solid var(--color-slate-700);
  color: var(--color-slate-900);
}

.years-symbol {
  width: 1px;
  transform: translate(204px, 50px);
  font-size: 13px;
  font-weight: bold;
  color: var(--color-slate-700);
}

.percent-symbol {
  width: 1px;
  transform: translate(221px, 52px);
  font-weight: bold;
  color: var(--color-slate-700);
}

.repayment-container, .interest-container {
  display: flex;
  flex-direction: row; 
  align-items: center;
  width: 100%;
}

.radio-btn-label {
  width: 100%;
  border: 1px solid var(--color-slate-900);
  border-radius: 4px;
  font-weight: 900;
  color: var(--color-slate-900);
  display: flex;
  align-items: center;
  height: 35px;
  padding-left: 10px;
}

input[type='radio'] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
}

.warning-text {
  color: var(--color-red);
  text-align: start;
  display: none;
}

@media screen and (min-width:1024px) {

  .results-shown-here-container > p {
    font-size: 15px;
  }

  .years-symbol {
    transform: translate(143px, 50px);
  }

  .percent-symbol {
    transform: translate(117px, 52px);
  }

  .term-and-interest-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mortgage-term,#interest-rate {
    width: 135px;
  }

  .radio-btn-label:hover {
    border: 1px solid var(--color-lime);
  }

  body {
  background: var(--color-slate-100);
  }

  form {
    background-color: white;
    flex-direction: row;
    width: auto;
  }

  .user-selection-container {
    width: 400px;
  }

  .calculator-payments-container {
    width: 185px;
    padding-left: 20px;
    justify-content: start;
  }

  .results-shown-here-container,.complete-result-container {
    width: 400px;
    border-radius: 0em 1em 1em 4em;
  }

  .title-and-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
} 
