@font-face {
  font-family: "Overpass";
  src: url(./static/Overpass-Regular.ttf);
}

* {
  font-family: "Overpass";
  padding: 0;
  margin: 0;
}

body {
  width:100%;
  height: auto;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.thank-you-state-container {
  height: 325px;
  width: 300px;
  margin-top: 50px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;        
  text-align: center;     
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

img {
  height: 90px;
}

.paragraph {
  display: flex;
  flex-direction: column;
}

.result-vote {
  color: hsl(25, 97%, 53%);
  background-color: hsl(212, 15%, 25%);
  border-radius: 30px;
  padding: 7.5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

h2 {
  color: white;
  text-align: center;
}

p {
  color:hsl(217, 12%, 63%);
  padding: 20px;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

@media screen and (min-width: 1024px) {
  body {
    width:100%;
    height: auto;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }
  
  .thank-you-state-container {
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 380px;
    max-width:400px;
  }

  img {
    margin-top: -10px;
  }

  h2 {
    margin-bottom: -10px;
  }

  p {
    line-height: 1.5rem;
    font-size: 1rem;
  }

}
